.cart-container{
    margin-right: 40%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 20px;
    position: fixed;
    width: 300px;
}
.cart-h4{
    border: 1px solid white;
    background-color: #27262C;
    color:#f5e4e4 ;
    border-radius: 8px;
    
}
.cart-h5{
    text-align: left;
    padding-left: 5px;
}